<h1>All tab</h1>
<%= link_to 'add new tab', new_tab_path %>
<% @tabs.each do |tab| %>
	<p>tabs name: <%= tab.nama %></p>
	<%= link_to 'Show', tab %>
	<%= link_to 'Edit', edit_tab_path(tab) %>
	<%= link_to 'Delete', tab_path(tab), method: :delete %>
<% end %>