<h1>Music list</h1>
<%= link_to 'Add new music', new_music_path %>
<%= @musics.each do |music| %>
	<p>Music name: <%= music.name %> </p>
	<%= link_to 'Show', music %>
	<%= link_to 'Edit', edit_music_path(music) %>
	<%= link_to 'Destroy', music_path(music), method: :delete %>
<% end %>