<% if current_user %>
	Signed in: <%= current_user.email %> | <%= link_to 'log_out', log_out_path %>
	<% else %>
	<%= link_to 'Log in', sign_in_path %> | <%= link_to 'Sign up', new_user_path %>   
<% end %>
<h1>Pets:</h1>
<%= link_to 'Add new name pet', new_pet_path %>
<% @pets.each do |pet| %>
	<p>Name: <%= pet.name %> </p>
	<%= link_to 'Show', pet %>
	<%= link_to 'Edit', edit_pet_path(pet) %>
	<%= link_to 'Delete', pet_path(pet), method: :delete %>
<% end %>
