<% if current_user %>
	Segned: <%= current_user.email %> | <%= link_to "Log out", log_out_path %>
<% else %>
	<%= link_to 'Log in', sign_in_path %> | <%= link_to 'Sign up', new_user_path %>
<% end %>
<h1>All player</h1>
<%= link_to 'Add new user', new_player_path %>
<% @players.each do |player| %>
	<p>Name: <%= player.name %> </p>
	<%= link_to 'Show', player %>
	<%= link_to 'Edit', edit_player_path(player) %>
	<%= link_to 'Delete', player_path(player), method: :delete %>
<% end %>