<% if current_user %>
  Signed in as <%= current_user.email %> | <%= link_to "Logout", log_out_path %>
<% else %>
  <%= link_to 'Login', sign_in_path %> | <%= link_to 'Sign up', new_user_path  %>
<% end %>

<h1>All post:</h1>
<%= link_to "Create new post", new_article_path %>
<% @articles.each do |article| %>
	<p>Title: <%= article.title %></p>
	<p>Text: <%= article.text %></p>
	<%= link_to 'Show', article %>
	<%= link_to 'Edit', edit_article_path(article) %>
	<%= link_to 'Delete', article_path(article), method: :delete %>
<% end %>	